In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('results_only_mct.csv',index_col=0)
df.style.format("{:.2f}")
pd.set_option('display.float_format', lambda x: '%.3f' % x)
df.head()

,jobs,machines,numInd,numGen,makespan,to_matrix_percentage,elitismo,exec_time,instance,selection_method
0,512,16,100,100,11927354.172,0.300,10.000,67.844,u_c_hihi.0,roulette wheel
1,512,16,100,100,11985774.477,0.300,20.000,69.568,u_c_hihi.0,roulette wheel
2,512,16,100,100,12896431.281,0.300,30.000,59.787,u_c_hihi.0,roulette wheel
3,512,16,100,100,12176266.383,0.500,10.000,70.078,u_c_hihi.0,roulette wheel
4,512,16,100,100,13009597.703,0.500,20.000,89.591,u_c_hihi.0,roulette wheel

In [3]:
df.loc[df['instance'] == 'u_c_lolo.0'].min()

jobs                               512
machines                            16
numInd                             100
numGen                             100
makespan                      6074.481
to_matrix_percentage             0.300
elitismo                        10.000
exec_time                       63.061
instance                    u_c_lolo.0
selection_method        roulette wheel
dtype: object

In [4]:
df.loc[df['instance'] == 'u_c_lohi.0'].min()

jobs                               512
machines                            16
numInd                             100
numGen                             100
makespan                    351362.174
to_matrix_percentage             0.300
elitismo                        10.000
exec_time                       59.968
instance                    u_c_lohi.0
selection_method        roulette wheel
dtype: object

In [5]:
df.loc[df['instance'] == 'u_c_hilo.0'].min()

jobs                               512
machines                            16
numInd                             100
numGen                             100
makespan                    182837.338
to_matrix_percentage             0.300
elitismo                        10.000
exec_time                       63.300
instance                    u_c_hilo.0
selection_method        roulette wheel
dtype: object

In [6]:
df.loc[df['instance'] == 'u_c_hihi.0'].min()

jobs                               512
machines                            16
numInd                             100
numGen                             100
makespan                  10918154.750
to_matrix_percentage             0.300
elitismo                        10.000
exec_time                       59.787
instance                    u_c_hihi.0
selection_method        roulette wheel
dtype: object