In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('results_only_olb.csv',index_col=0)
df.style.format("{:.2f}")
pd.set_option('display.float_format', lambda x: '%.3f' % x)
df.head()

,jobs,machines,numInd,numGen,makespan,to_matrix_percentage,elitismo,exec_time,instance,selection_method
0,512,16,100,100,564325.544,0.300,10.000,65.578,u_c_lohi.0,roulette wheel
1,512,16,100,100,622775.479,0.300,20.000,68.283,u_c_lohi.0,roulette wheel
2,512,16,100,100,675003.911,0.300,30.000,64.129,u_c_lohi.0,roulette wheel
3,512,16,100,100,7233.059,0.300,10.000,63.291,u_c_lolo.0,roulette wheel
4,512,16,100,100,8727.991,0.300,20.000,69.942,u_c_lolo.0,roulette wheel

In [4]:
df.loc[df['instance'] == 'u_c_lolo.0'].min()

jobs                               512
machines                            16
numInd                             100
numGen                             100
makespan                      6562.484
to_matrix_percentage             0.300
elitismo                        10.000
exec_time                       59.796
instance                    u_c_lolo.0
selection_method        roulette wheel
dtype: object

In [5]:
df.loc[df['instance'] == 'u_c_lohi.0'].min()

jobs                               512
machines                            16
numInd                             100
numGen                             100
makespan                    463474.617
to_matrix_percentage             0.300
elitismo                        10.000
exec_time                       64.129
instance                    u_c_lohi.0
selection_method        roulette wheel
dtype: object

In [6]:
df.loc[df['instance'] == 'u_c_hilo.0'].min()

jobs                               512
machines                            16
numInd                             100
numGen                             100
makespan                    205239.900
to_matrix_percentage             0.300
elitismo                        10.000
exec_time                       58.939
instance                    u_c_hilo.0
selection_method        roulette wheel
dtype: object

In [7]:
df.loc[df['instance'] == 'u_c_hihi.0'].min()

jobs                               512
machines                            16
numInd                             100
numGen                             100
makespan                  13333484.840
to_matrix_percentage             0.300
elitismo                        10.000
exec_time                       54.440
instance                    u_c_hihi.0
selection_method        roulette wheel
dtype: object