In [39]:
import pandas as pd

In [40]:
df = pd.read_csv('results.csv',index_col=0)
df.head()

,jobs,machines,numInd,numGen,makespan,to_matrix_percentage,elitismo,exec_time,selection_method,instance
0,512,16,100,100,1.615996e+07,0.3,10.0,180.062051,roulette wheel,NaN
1,512,16,100,100,1.839447e+07,0.3,20.0,156.559321,roulette wheel,NaN
2,512,16,100,100,2.152728e+07,0.3,30.0,132.307775,roulette wheel,NaN
3,512,16,100,100,1.845408e+07,0.5,10.0,170.584546,roulette wheel,NaN
4,512,16,100,100,1.925616e+07,0.5,20.0,151.707929,roulette wheel,NaN

In [41]:
#df['instance'] = 'u_c_hihi.0'

In [42]:
df

,jobs,machines,numInd,numGen,makespan,to_matrix_percentage,elitismo,exec_time,selection_method,instance
0,512,16,100,100,1.615996e+07,0.3,10.0,180.062051,roulette wheel,u_c_hihi.0
1,512,16,100,100,1.839447e+07,0.3,20.0,156.559321,roulette wheel,u_c_hihi.0
2,512,16,100,100,2.152728e+07,0.3,30.0,132.307775,roulette wheel,u_c_hihi.0
3,512,16,100,100,1.845408e+07,0.5,10.0,170.584546,roulette wheel,u_c_hihi.0
4,512,16,100,100,1.925616e+07,0.5,20.0,151.707929,roulette wheel,u_c_hihi.0
...,...,...,...,...,...,...,...,...,...,...
72,512,16,500,500,1.089610e+07,0.3,10.0,5071.587620,roulette wheel,u_c_hihi.0
73,512,16,500,500,1.116255e+07,0.5,20.0,3321.143265,roulette wheel,u_c_hihi.0
74,512,16,500,500,1.437064e+07,0.5,30.0,3034.974805,roulette wheel,u_c_hihi.0
75,512,16,500,500,1.231059e+07,0.7,20.0,5578.460524,roulette wheel,u_c_hihi.0
76,512,16,500,500,1.531154e+07,0.7,30.0,4314.915791,roulette wheel,u_c_hihi.0

In [43]:
df.to_csv('results.csv')