In [12]:
import pandas as pd

In [13]:
df = pd.read_csv('results.csv',index_col=0)
df.style.format("{:.2f}")
df.head()

,jobs,machines,numInd,numGen,makespan,to_matrix_percentage,elitismo,exec_time,instance,selection_method
0,512,16,100,100,5612.755746,0.3,10.0,63.225548,u_c_lolo.0,roulette wheel
1,512,16,100,100,5515.308419,0.3,10.0,63.553843,u_c_lolo.0,roulette wheel
2,512,16,100,200,5339.037868,0.3,10.0,115.151239,u_c_lolo.0,roulette wheel
3,512,16,100,500,5611.637985,0.3,10.0,278.428141,u_c_lolo.0,roulette wheel
4,512,16,200,100,6985.581984,0.3,10.0,160.177799,u_c_lolo.0,roulette wheel

In [14]:
len(df)

37

In [15]:
df[(df['makespan']==df['makespan'].min())]

,jobs,machines,numInd,numGen,makespan,to_matrix_percentage,elitismo,exec_time,instance,selection_method
2,512,16,100,200,5339.037868,0.3,10.0,115.151239,u_c_lolo.0,roulette wheel

In [16]:
df.loc[df['instance'] == 'u_c_lolo.0'].min()

jobs                               512
machines                            16
numInd                             100
numGen                             100
makespan                       5339.04
to_matrix_percentage               0.3
elitismo                            10
exec_time                      63.2255
instance                    u_c_lolo.0
selection_method        roulette wheel
dtype: object

In [17]:
df.loc[df['instance'] == 'u_c_lohi.0'].min()

jobs                               512
machines                            16
numInd                             100
numGen                             100
makespan                        264738
to_matrix_percentage               0.3
elitismo                            10
exec_time                      61.9463
instance                    u_c_lohi.0
selection_method        roulette wheel
dtype: object

In [18]:
df.loc[df['instance'] == 'u_c_hilo.0'].min()

jobs                               512
machines                            16
numInd                             100
numGen                             100
makespan                        159597
to_matrix_percentage               0.3
elitismo                            10
exec_time                      69.4591
instance                    u_c_hilo.0
selection_method        roulette wheel
dtype: object

In [19]:
df.loc[df['instance'] == 'u_c_hihi.0'].min()

jobs                               512
machines                            16
numInd                             100
numGen                             100
makespan                   8.05183e+06
to_matrix_percentage               0.3
elitismo                            10
exec_time                      62.5997
instance                    u_c_hihi.0
selection_method        roulette wheel
dtype: object

In [20]:
len(df.loc[df['instance'] == 'u_c_hihi.0'])

9