In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('results.csv',index_col=0)
df.head()

,jobs,machines,numInd,numGen,makespan,to_matrix_percentage,elitismo,exec_time,selection_method,instance
0,512,16,100,100,1.615996e+07,0.3,10.0,180.062051,roulette wheel,u_c_hihi.0
1,512,16,100,100,1.839447e+07,0.3,20.0,156.559321,roulette wheel,u_c_hihi.0
2,512,16,100,100,2.152728e+07,0.3,30.0,132.307775,roulette wheel,u_c_hihi.0
3,512,16,100,100,1.845408e+07,0.5,10.0,170.584546,roulette wheel,u_c_hihi.0
4,512,16,100,100,1.925616e+07,0.5,20.0,151.707929,roulette wheel,u_c_hihi.0

In [4]:
len(df)

88

In [5]:
df[(df['makespan']==df['makespan'].min())]

,jobs,machines,numInd,numGen,makespan,to_matrix_percentage,elitismo,exec_time,selection_method,instance
87,512,16,500,500,8041.233306,0.3,10.0,4665.347427,roulette wheel,u_c_lolo.0

In [6]:
df.loc[df['instance'] == 'u_c_lolo.0'].min()

jobs                               512
machines                            16
numInd                             500
numGen                             500
makespan                       8041.23
to_matrix_percentage               0.3
elitismo                            10
exec_time                      4665.35
selection_method        roulette wheel
instance                    u_c_lolo.0
dtype: object

In [7]:
df.loc[df['instance'] == 'u_c_lohi.0'].min()

jobs                               512
machines                            16
numInd                             500
numGen                             500
makespan                        355174
to_matrix_percentage               0.3
elitismo                            10
exec_time                      4456.07
selection_method        roulette wheel
instance                    u_c_lohi.0
dtype: object

In [8]:
df.loc[df['instance'] == 'u_c_hilo.0'].min()

jobs                               512
machines                            16
numInd                             500
numGen                             500
makespan                        240264
to_matrix_percentage               0.3
elitismo                            10
exec_time                      3769.65
selection_method        roulette wheel
instance                    u_c_hilo.0
dtype: object

In [9]:
df.loc[df['instance'] == 'u_c_hihi.0'].min()

jobs                               512
machines                            16
numInd                             100
numGen                             100
makespan                    1.0477e+07
to_matrix_percentage               0.3
elitismo                            10
exec_time                      54.0222
selection_method        roulette wheel
instance                    u_c_hihi.0
dtype: object