In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('results_only_maxmin.csv',index_col=0)
df.style.format("{:.2f}")
pd.set_option('display.float_format', lambda x: '%.3f' % x)
df.head()

,jobs,machines,numInd,numGen,makespan,to_matrix_percentage,elitismo,exec_time,instance,selection_method
0,512,16,100,100,13260051.202,0.300,10.000,79.488,u_c_hihi.0,roulette wheel
1,512,16,100,100,15194094.827,0.300,20.000,80.553,u_c_hihi.0,roulette wheel
2,512,16,100,100,14804651.438,0.300,30.000,69.041,u_c_hihi.0,roulette wheel
3,512,16,100,100,14102005.102,0.500,10.000,79.414,u_c_hihi.0,roulette wheel
4,512,16,100,100,15350277.330,0.500,20.000,95.502,u_c_hihi.0,roulette wheel

In [3]:
df.loc[df['instance'] == 'u_c_lolo.0'].min()

jobs                               512
machines                            16
numInd                             100
numGen                             100
makespan                      7307.521
to_matrix_percentage             0.300
elitismo                        10.000
exec_time                       62.711
instance                    u_c_lolo.0
selection_method        roulette wheel
dtype: object

In [4]:
df.loc[df['instance'] == 'u_c_lohi.0'].min()

jobs                               512
machines                            16
numInd                             100
numGen                             100
makespan                    367131.859
to_matrix_percentage             0.300
elitismo                        10.000
exec_time                       67.049
instance                    u_c_lohi.0
selection_method        roulette wheel
dtype: object

In [5]:
df.loc[df['instance'] == 'u_c_hilo.0'].min()

jobs                               512
machines                            16
numInd                             100
numGen                             100
makespan                    203975.942
to_matrix_percentage             0.300
elitismo                        10.000
exec_time                       66.571
instance                    u_c_hilo.0
selection_method        roulette wheel
dtype: object

In [6]:
df.loc[df['instance'] == 'u_c_hihi.0'].min()

jobs                               512
machines                            16
numInd                             100
numGen                             100
makespan                  11553771.859
to_matrix_percentage             0.300
elitismo                        10.000
exec_time                       69.041
instance                    u_c_hihi.0
selection_method        roulette wheel
dtype: object