In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('results_eda_pure_elitism.csv',index_col=0)
df.style.format("{:.2f}")
pd.set_option('display.float_format', lambda x: '%.3f' % x)
df.head()

,jobs,machines,numInd,numGen,makespan,to_matrix_percentage,elitismo,exec_time,instance,selection_method
0,512,16,100,100,5612.756,0.300,10.000,63.226,u_c_lolo.0,roulette wheel
1,512,16,100,100,5515.308,0.300,10.000,63.554,u_c_lolo.0,roulette wheel
2,512,16,100,200,5339.038,0.300,10.000,115.151,u_c_lolo.0,roulette wheel
3,512,16,100,500,5611.638,0.300,10.000,278.428,u_c_lolo.0,roulette wheel
4,512,16,200,100,6985.582,0.300,10.000,160.178,u_c_lolo.0,roulette wheel

In [3]:
df.loc[df['instance'] == 'u_c_lolo.0'].min()

jobs                               512
machines                            16
numInd                             100
numGen                             100
makespan                      5339.038
to_matrix_percentage             0.300
elitismo                        10.000
exec_time                       63.226
instance                    u_c_lolo.0
selection_method        roulette wheel
dtype: object

In [4]:
df.loc[df['instance'] == 'u_c_lohi.0'].min()

jobs                               512
machines                            16
numInd                             100
numGen                             100
makespan                    264737.824
to_matrix_percentage             0.300
elitismo                        10.000
exec_time                       61.946
instance                    u_c_lohi.0
selection_method        roulette wheel
dtype: object

In [5]:
df.loc[df['instance'] == 'u_c_hilo.0'].min()

jobs                               512
machines                            16
numInd                             100
numGen                             100
makespan                    159597.471
to_matrix_percentage             0.300
elitismo                        10.000
exec_time                       69.459
instance                    u_c_hilo.0
selection_method        roulette wheel
dtype: object

In [6]:
df.loc[df['instance'] == 'u_c_hihi.0'].min()

jobs                               512
machines                            16
numInd                             100
numGen                             100
makespan                   8051834.048
to_matrix_percentage             0.300
elitismo                        10.000
exec_time                       62.600
instance                    u_c_hihi.0
selection_method        roulette wheel
dtype: object