In [2]:
import pandas as pd

In [4]:
df_ag = pd.read_csv('../resultados/mesma populacao/mutacao swap/ag_mutacao_swap.csv',index_col=0)
df_ag.style.format("{:.2f}")
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [5]:
df_ag.loc[df_ag['makespan'].isin(df_ag.groupby('instance')['makespan'].min().values)]

,jobs,machines,numInd,numGen,makespan,to_matrix_percentage,elitismo,exec_time,instance,mutation,selection_method
3,512,16,100,100,100141.425,0.300,10.000,191.814,u_s_hilo.0,30.000,roulette wheel
7,512,16,100,100,4689160.037,0.300,10.000,180.644,u_s_hihi.0,30.000,roulette wheel
11,512,16,100,100,135630.964,0.300,10.000,185.542,u_s_lohi.0,30.000,roulette wheel
14,512,16,100,100,3588.825,0.300,10.000,192.871,u_s_lolo.0,20.000,roulette wheel
18,512,16,100,100,76158.264,0.300,10.000,185.431,u_i_hilo.0,20.000,roulette wheel
20,512,16,100,100,3240628.356,0.300,10.000,176.806,u_i_hihi.0,0.000,roulette wheel
25,512,16,100,100,111723.497,0.300,10.000,185.544,u_i_lohi.0,10.000,roulette wheel
31,512,16,100,100,2696.035,0.300,10.000,194.788,u_i_lolo.0,30.000,roulette wheel
34,512,16,100,100,158410.421,0.300,10.000,190.497,u_c_hilo.0,20.000,roulette wheel
39,512,16,100,100,8245526.931,0.300,10.000,192.860,u_c_hihi.0,30.000,roulette wheel
43,512,16,100,100,271341.760,0.300,10.000,191.170,u_c_lohi.0,30.000,roulette wheel
45,512,16,100,100,5344.585,0.300,10.000,189.804,u_c_lolo.0,10.000,roulette wheel

In [6]:
df_eda = pd.read_csv('../resultados/mesma populacao/mutacao swap/eda_mutacao_swap.csv',index_col=0)
df_eda.style.format("{:.2f}")
pd.set_option('display.float_format', lambda x: '%.3f' % x)
df_eda.loc[df_eda['makespan'].isin(df_eda.groupby('instance')['makespan'].min().values)]

In [7]:
df_eda.loc[df_eda['makespan'].isin(df_eda.groupby('instance')['makespan'].min().values)]

,jobs,machines,numInd,numGen,makespan,to_matrix_percentage,elitismo,exec_time,instance,mutation,selection_method
4,512,16,100,100,99563.054,0.300,10.000,68.141,u_s_hilo.0,30.000,roulette wheel
6,512,16,100,100,4621486.670,0.300,10.000,66.549,u_s_hihi.0,10.000,roulette wheel
12,512,16,100,100,132641.710,0.300,10.000,72.997,u_s_lohi.0,30.000,roulette wheel
14,512,16,100,100,3585.936,0.300,10.000,66.904,u_s_lolo.0,10.000,roulette wheel
17,512,16,100,100,75207.257,0.300,10.000,64.485,u_i_hilo.0,0.000,roulette wheel
22,512,16,100,100,3068641.279,0.300,10.000,71.849,u_i_hihi.0,10.000,roulette wheel
25,512,16,100,100,110568.715,0.300,10.000,70.488,u_i_lohi.0,0.000,roulette wheel
32,512,16,100,100,2609.982,0.300,10.000,72.017,u_i_lolo.0,30.000,roulette wheel
33,512,16,100,100,160807.828,0.300,10.000,70.898,u_c_hilo.0,0.000,roulette wheel
39,512,16,100,100,8142691.785,0.300,10.000,71.041,u_c_hihi.0,20.000,roulette wheel
42,512,16,100,100,271166.439,0.300,10.000,60.052,u_c_lohi.0,10.000,roulette wheel
45,512,16,100,100,5409.638,0.300,10.000,66.932,u_c_lolo.0,0.000,roulette wheel

In [14]:
df_ag_swap = pd.read_csv('../resultados/mesma populacao/mutacao swap/ag_mutacao_swap.csv',index_col=0)
df_ag_swap.style.format("{:.2f}")
pd.set_option('display.float_format', lambda x: '%.3f' % x)
df1 = df_ag_swap.loc[df_ag_swap['makespan'].isin(df_ag_swap.groupby('instance')['makespan'].min().values)]

In [12]:
count_swap = 0
count_simp = 0
for i in range(len(df_ag_swap)):
    if df_ag_swap.loc[i]['makespan'] > df_ag.loc[i]['makespan']:
        count_swap += 1
    else:
        count_simp += 1

In [13]:
count_simp, count_swap

(48, 0)