In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('results_only_met.csv',index_col=0)
df.style.format("{:.2f}")
pd.set_option('display.float_format', lambda x: '%.3f' % x)
df.head()

,jobs,machines,numInd,numGen,makespan,to_matrix_percentage,elitismo,exec_time,instance,selection_method
0,512,16,100,100,509331.208,0.300,10.000,68.978,u_c_lohi.0,roulette wheel
1,512,16,100,100,469062.880,0.300,20.000,66.461,u_c_lohi.0,roulette wheel
2,512,16,100,100,606404.205,0.300,30.000,58.640,u_c_lohi.0,roulette wheel
3,512,16,100,100,7264.026,0.300,10.000,63.510,u_c_lolo.0,roulette wheel
4,512,16,100,100,8382.727,0.300,20.000,67.281,u_c_lolo.0,roulette wheel

In [3]:
df.loc[df['instance'] == 'u_c_lolo.0'].min()

jobs                               512
machines                            16
numInd                             100
numGen                             100
makespan                      6579.640
to_matrix_percentage             0.300
elitismo                        10.000
exec_time                       58.436
instance                    u_c_lolo.0
selection_method        roulette wheel
dtype: object

In [4]:
df.loc[df['instance'] == 'u_c_lohi.0'].min()

jobs                               512
machines                            16
numInd                             100
numGen                             100
makespan                    421113.330
to_matrix_percentage             0.300
elitismo                        10.000
exec_time                       58.640
instance                    u_c_lohi.0
selection_method        roulette wheel
dtype: object

In [5]:
df.loc[df['instance'] == 'u_c_hilo.0'].min()

jobs                               512
machines                            16
numInd                             100
numGen                             100
makespan                    198738.845
to_matrix_percentage             0.300
elitismo                        10.000
exec_time                       54.345
instance                    u_c_hilo.0
selection_method        roulette wheel
dtype: object

In [6]:
df.loc[df['instance'] == 'u_c_hihi.0'].min()

jobs                               512
machines                            16
numInd                             100
numGen                             100
makespan                  13381024.089
to_matrix_percentage             0.300
elitismo                        10.000
exec_time                       53.761
instance                    u_c_hihi.0
selection_method        roulette wheel
dtype: object