In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('eda_pure_results_no_elitism.csv',index_col=0)
df.style.format("{:.2f}")
pd.set_option('display.float_format', lambda x: '%.3f' % x)
df.head()

,jobs,machines,numInd,numGen,makespan,to_matrix_percentage,elitismo,exec_time,selection_method,instance
0,512,16,100,100,16159963.000,0.300,10.000,180.062,roulette wheel,u_c_hihi.0
1,512,16,100,100,18394467.391,0.300,20.000,156.559,roulette wheel,u_c_hihi.0
2,512,16,100,100,21527278.952,0.300,30.000,132.308,roulette wheel,u_c_hihi.0
3,512,16,100,100,18454078.223,0.500,10.000,170.585,roulette wheel,u_c_hihi.0
4,512,16,100,100,19256159.117,0.500,20.000,151.708,roulette wheel,u_c_hihi.0

In [16]:
df.loc[df['instance'] == 'u_c_lolo.0'].min()

jobs                               512
machines                            16
numInd                             500
numGen                             500
makespan                      8041.233
to_matrix_percentage             0.300
elitismo                        10.000
exec_time                     4665.347
selection_method        roulette wheel
instance                    u_c_lolo.0
dtype: object

In [17]:
df.loc[df['instance'] == 'u_c_lohi.0'].min()

jobs                               512
machines                            16
numInd                             500
numGen                             500
makespan                    355173.903
to_matrix_percentage             0.300
elitismo                        10.000
exec_time                     4456.068
selection_method        roulette wheel
instance                    u_c_lohi.0
dtype: object

In [18]:
df.loc[df['instance'] == 'u_c_hilo.0'].min()

jobs                               512
machines                            16
numInd                             500
numGen                             500
makespan                    240264.340
to_matrix_percentage             0.300
elitismo                        10.000
exec_time                     3769.649
selection_method        roulette wheel
instance                    u_c_hilo.0
dtype: object

In [19]:
df.loc[df['instance'] == 'u_c_hihi.0'].min()

jobs                               512
machines                            16
numInd                             100
numGen                             100
makespan                  10477003.930
to_matrix_percentage             0.300
elitismo                        10.000
exec_time                       54.022
selection_method        roulette wheel
instance                    u_c_hihi.0
dtype: object