In [17]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [18]:
df = pd.read_csv('eda.csv',index_col=0)
#df.style.format("{:.2f}")
df.head()

,jobs,machines,numInd,numGen,makespan,to_matrix_percentage,elitismo,exec_time,instance,mutation,selection_method
0,512,16,100,100,101441.07,0.30,10.00,59.81,u_s_hilo.0,0.00,roulette wheel
1,512,16,100,100,100059.89,0.30,10.00,61.78,u_s_hilo.0,10.00,roulette wheel
2,512,16,100,100,102064.91,0.30,10.00,61.14,u_s_hilo.0,20.00,roulette wheel
3,512,16,100,100,102834.45,0.30,10.00,60.63,u_s_hilo.0,30.00,roulette wheel
4,512,16,100,100,105090.80,0.30,20.00,62.12,u_s_hilo.0,0.00,roulette wheel

In [19]:
df_min = df.loc[df['makespan'].isin(df.groupby('instance')['makespan'].min().values)]
df_min.sort_values('instance',inplace=True, ascending=True)

/home/rocha/.local/lib/python3.8/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [20]:
df_min

,jobs,machines,numInd,numGen,makespan,to_matrix_percentage,elitismo,exec_time,instance,mutation,selection_method
593,512,16,200,200,8068511.30,0.50,10.00,278.97,u_c_hihi.0,30.00,roulette wheel
98,512,16,100,100,158832.34,0.30,10.00,62.40,u_c_hilo.0,20.00,roulette wheel
602,512,16,200,200,264176.10,0.50,10.00,278.83,u_c_lohi.0,0.00,roulette wheel
134,512,16,100,100,5369.26,0.30,10.00,62.03,u_c_lolo.0,20.00,roulette wheel
405,512,16,200,200,3041259.28,0.30,20.00,216.40,u_i_hihi.0,30.00,roulette wheel
389,512,16,200,200,75401.52,0.30,10.00,283.45,u_i_hilo.0,30.00,roulette wheel
561,512,16,200,200,106271.18,0.50,20.00,235.94,u_i_lohi.0,30.00,roulette wheel
571,512,16,200,200,2594.48,0.50,20.00,238.65,u_i_lolo.0,10.00,roulette wheel
357,512,16,200,200,4509825.64,0.30,20.00,248.22,u_s_hihi.0,30.00,roulette wheel
482,512,16,200,200,99081.20,0.50,10.00,299.87,u_s_hilo.0,0.00,roulette wheel
371,512,16,200,200,131479.37,0.30,30.00,211.69,u_s_lohi.0,10.00,roulette wheel
520,512,16,200,200,3582.46,0.50,10.00,282.16,u_s_lolo.0,20.00,roulette wheel

In [21]:
df_u_c_hihi = pd.read_csv('eda_uc_hihi.csv',index_col=0)
df_a = df_u_c_hihi.loc[df_u_c_hihi['makespan'].isin(df_u_c_hihi.groupby('instance')['makespan'].min().values)]
df_a.sort_values('instance',inplace=True, ascending=True)
#df_min.sort_values('instance',inplace=True, ascending=True)

/home/rocha/.local/lib/python3.8/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [22]:
df_a = df_a.drop_duplicates(subset = ["makespan"])

In [23]:
df_a

,jobs,machines,numInd,numGen,makespan,to_matrix_percentage,elitismo,exec_time,instance,mutation,selection_method
13,512,16,100,100,7754691.34,0.50,10.00,63.14,u_c_hihi.0,10.00,roulette wheel
99,512,16,100,100,157585.49,0.30,10.00,67.83,u_c_hilo.0,20.00,roulette wheel
120,512,16,200,200,263891.86,0.30,10.00,248.56,u_c_lohi.0,0.00,roulette wheel
716,512,16,200,100,5429.06,0.30,20.00,118.68,u_c_lolo.0,30.00,roulette wheel
495,512,16,100,200,3102192.59,0.50,10.00,139.19,u_i_hihi.0,20.00,roulette wheel
343,512,16,100,200,74381.23,0.30,20.00,130.84,u_i_hilo.0,20.00,roulette wheel
510,512,16,100,200,109305.17,0.50,20.00,140.35,u_i_lohi.0,10.00,roulette wheel
520,512,16,100,200,2570.61,0.50,10.00,137.65,u_i_lolo.0,30.00,roulette wheel
770,512,16,200,200,4241640.79,0.30,20.00,217.57,u_s_hihi.0,10.00,roulette wheel
756,512,16,200,200,100067.26,0.30,10.00,256.22,u_s_hilo.0,30.00,roulette wheel
178,512,16,100,100,125397.54,0.50,30.00,80.58,u_s_lohi.0,10.00,roulette wheel
190,512,16,100,100,3528.90,0.50,30.00,63.48,u_s_lolo.0,10.00,roulette wheel

In [24]:
df_min = df_min.drop(columns=['jobs', 'machines','exec_time','selection_method'])
df_a = df_a.drop(columns=['jobs', 'machines','exec_time','selection_method'])
df_ags = pd.concat([df_min.reset_index(), df_a.reset_index()], 
                   axis='columns', keys=['Sem pop. inicial', 'Com pop. inicial'])
df_ags['improvement'] = 1 - df_ags['Com pop. inicial']['makespan']/df_ags['Sem pop. inicial']['makespan']
df_ags

   Sem pop. inicial                                                         \
              index numInd numGen   makespan to_matrix_percentage elitismo
0               593    200    200 8068511.30                 0.50    10.00
1                98    100    100  158832.34                 0.30    10.00
2               602    200    200  264176.10                 0.50    10.00
3               134    100    100    5369.26                 0.30    10.00
4               405    200    200 3041259.28                 0.30    20.00
5               389    200    200   75401.52                 0.30    10.00
6               561    200    200  106271.18                 0.50    20.00
7               571    200    200    2594.48                 0.50    20.00
8               357    200    200 4509825.64                 0.30    20.00
9               482    200    200   99081.20                 0.50    10.00
10              371    200    200  131479.37                 0.30    30.00
11              520    200    200    3582.46                 0.50    10.00

                        Com pop. inicial                           \
      instance mutation            index numInd numGen   makespan
0   u_c_hihi.0    30.00               13    100    100 7754691.34
1   u_c_hilo.0    20.00               99    100    100  157585.49
2   u_c_lohi.0     0.00              120    200    200  263891.86
3   u_c_lolo.0    20.00              716    200    100    5429.06
4   u_i_hihi.0    30.00              495    100    200 3102192.59
5   u_i_hilo.0    30.00              343    100    200   74381.23
6   u_i_lohi.0    30.00              510    100    200  109305.17
7   u_i_lolo.0    10.00              520    100    200    2570.61
8   u_s_hihi.0    30.00              770    200    200 4241640.79
9   u_s_hilo.0     0.00              756    200    200  100067.26
10  u_s_lohi.0    10.00              178    100    100  125397.54
11  u_s_lolo.0    20.00              190    100    100    3528.90

                                                      improvement
   to_matrix_percentage elitismo    instance mutation
0                  0.50    10.00  u_c_hihi.0    10.00        0.04
1                  0.30    10.00  u_c_hilo.0    20.00        0.01
2                  0.30    10.00  u_c_lohi.0     0.00        0.00
3                  0.30    20.00  u_c_lolo.0    30.00       -0.01
4                  0.50    10.00  u_i_hihi.0    20.00       -0.02
5                  0.30    20.00  u_i_hilo.0    20.00        0.01
6                  0.50    20.00  u_i_lohi.0    10.00       -0.03
7                  0.50    10.00  u_i_lolo.0    30.00        0.01
8                  0.30    20.00  u_s_hihi.0    10.00        0.06
9                  0.30    10.00  u_s_hilo.0    30.00       -0.01
10                 0.50    30.00  u_s_lohi.0    10.00        0.05
11                 0.50    30.00  u_s_lolo.0    10.00        0.01