In [16]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [17]:
df = pd.read_csv('eda_com_heuristicas_e_mut.csv',index_col=0)
#df.style.format("{:.2f}")
df.head()

,jobs,machines,numInd,numGen,makespan,to_matrix_percentage,elitismo,exec_time,instance,mutation,selection_method
0,512,16,100,100,101441.07,0.30,10.00,59.81,u_s_hilo.0,0.00,roulette wheel
1,512,16,100,100,100059.89,0.30,10.00,61.78,u_s_hilo.0,10.00,roulette wheel
2,512,16,100,100,102064.91,0.30,10.00,61.14,u_s_hilo.0,20.00,roulette wheel
3,512,16,100,100,102834.45,0.30,10.00,60.63,u_s_hilo.0,30.00,roulette wheel
4,512,16,100,100,105090.80,0.30,20.00,62.12,u_s_hilo.0,0.00,roulette wheel

In [18]:
df_min = df.loc[df['makespan'].isin(df.groupby('instance')['makespan'].min().values)]
df_min.sort_values('instance',inplace=True, ascending=True)

/home/rocha/Documentos/mestrado/pesquisaMestrado/venv/lib/python3.8/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [19]:
df_min

,jobs,machines,numInd,numGen,makespan,to_matrix_percentage,elitismo,exec_time,instance,mutation,selection_method
593,512,16,200,200,8068511.30,0.50,10.00,278.97,u_c_hihi.0,30.00,roulette wheel
98,512,16,100,100,158832.34,0.30,10.00,62.40,u_c_hilo.0,20.00,roulette wheel
602,512,16,200,200,264176.10,0.50,10.00,278.83,u_c_lohi.0,0.00,roulette wheel
134,512,16,100,100,5369.26,0.30,10.00,62.03,u_c_lolo.0,20.00,roulette wheel
405,512,16,200,200,3041259.28,0.30,20.00,216.40,u_i_hihi.0,30.00,roulette wheel
389,512,16,200,200,75401.52,0.30,10.00,283.45,u_i_hilo.0,30.00,roulette wheel
561,512,16,200,200,106271.18,0.50,20.00,235.94,u_i_lohi.0,30.00,roulette wheel
571,512,16,200,200,2594.48,0.50,20.00,238.65,u_i_lolo.0,10.00,roulette wheel
357,512,16,200,200,4509825.64,0.30,20.00,248.22,u_s_hihi.0,30.00,roulette wheel
482,512,16,200,200,99081.20,0.50,10.00,299.87,u_s_hilo.0,0.00,roulette wheel
371,512,16,200,200,131479.37,0.30,30.00,211.69,u_s_lohi.0,10.00,roulette wheel
520,512,16,200,200,3582.46,0.50,10.00,282.16,u_s_lolo.0,20.00,roulette wheel

In [20]:
df_u_c_hihi = pd.read_csv('eda_populacao_gerada_paulo.csv',index_col=0)
df_a = df_u_c_hihi.loc[df_u_c_hihi['makespan'].isin(df_u_c_hihi.groupby('instance')['makespan'].min().values)]
df_a.sort_values('instance',inplace=True, ascending=True)
#df_min.sort_values('instance',inplace=True, ascending=True)

/home/rocha/Documentos/mestrado/pesquisaMestrado/venv/lib/python3.8/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [21]:
df_a = df_a.drop_duplicates(subset = ["makespan"])

In [22]:
df_a

,jobs,machines,numInd,numGen,makespan,to_matrix_percentage,elitismo,exec_time,instance,mutation,selection_method
13,512,16,100,100,7754691.34,0.50,10.00,63.14,u_c_hihi.0,10.00,roulette wheel
532,512,16,100,200,157585.49,0.50,10.00,133.76,u_c_hilo.0,30.00,roulette wheel
420,512,16,100,200,263891.86,0.30,30.00,120.14,u_c_lohi.0,30.00,roulette wheel
134,512,16,200,200,5429.06,0.50,10.00,304.33,u_c_lolo.0,20.00,roulette wheel
498,512,16,100,200,3102192.59,0.50,20.00,140.63,u_i_hihi.0,10.00,roulette wheel
57,512,16,100,100,74381.23,0.30,30.00,58.72,u_i_hilo.0,0.00,roulette wheel
656,512,16,200,100,109305.17,0.30,20.00,118.43,u_i_lohi.0,30.00,roulette wheel
87,512,16,200,200,2570.61,0.50,10.00,280.33,u_i_lolo.0,30.00,roulette wheel
735,512,16,200,100,4241640.79,0.50,10.00,142.08,u_s_hihi.0,20.00,roulette wheel
3,512,16,200,200,100067.26,0.30,10.00,250.69,u_s_hilo.0,30.00,roulette wheel
320,512,16,100,200,125397.54,0.30,20.00,133.72,u_s_lohi.0,30.00,roulette wheel
41,512,16,200,200,3528.90,0.50,20.00,256.80,u_s_lolo.0,10.00,roulette wheel

In [23]:
df_min = df_min.drop(columns=['jobs', 'machines','exec_time','selection_method'])
df_a = df_a.drop(columns=['jobs', 'machines','exec_time','selection_method'])
df_ags = pd.concat([df_min.reset_index(), df_a.reset_index()], 
                   axis='columns', keys=['Sem pop. inicial', 'Com pop. inicial'])
df_ags['improvement'] = 1 - df_ags['Com pop. inicial']['makespan']/df_ags['Sem pop. inicial']['makespan']
df_ags

   Sem pop. inicial                                                         \
              index numInd numGen   makespan to_matrix_percentage elitismo
0               593    200    200 8068511.30                 0.50    10.00
1                98    100    100  158832.34                 0.30    10.00
2               602    200    200  264176.10                 0.50    10.00
3               134    100    100    5369.26                 0.30    10.00
4               405    200    200 3041259.28                 0.30    20.00
5               389    200    200   75401.52                 0.30    10.00
6               561    200    200  106271.18                 0.50    20.00
7               571    200    200    2594.48                 0.50    20.00
8               357    200    200 4509825.64                 0.30    20.00
9               482    200    200   99081.20                 0.50    10.00
10              371    200    200  131479.37                 0.30    30.00
11              520    200    200    3582.46                 0.50    10.00

                        Com pop. inicial                           \
      instance mutation            index numInd numGen   makespan
0   u_c_hihi.0    30.00               13    100    100 7754691.34
1   u_c_hilo.0    20.00              532    100    200  157585.49
2   u_c_lohi.0     0.00              420    100    200  263891.86
3   u_c_lolo.0    20.00              134    200    200    5429.06
4   u_i_hihi.0    30.00              498    100    200 3102192.59
5   u_i_hilo.0    30.00               57    100    100   74381.23
6   u_i_lohi.0    30.00              656    200    100  109305.17
7   u_i_lolo.0    10.00               87    200    200    2570.61
8   u_s_hihi.0    30.00              735    200    100 4241640.79
9   u_s_hilo.0     0.00                3    200    200  100067.26
10  u_s_lohi.0    10.00              320    100    200  125397.54
11  u_s_lolo.0    20.00               41    200    200    3528.90

                                                      improvement
   to_matrix_percentage elitismo    instance mutation
0                  0.50    10.00  u_c_hihi.0    10.00        0.04
1                  0.50    10.00  u_c_hilo.0    30.00        0.01
2                  0.30    30.00  u_c_lohi.0    30.00        0.00
3                  0.50    10.00  u_c_lolo.0    20.00       -0.01
4                  0.50    20.00  u_i_hihi.0    10.00       -0.02
5                  0.30    30.00  u_i_hilo.0     0.00        0.01
6                  0.30    20.00  u_i_lohi.0    30.00       -0.03
7                  0.50    10.00  u_i_lolo.0    30.00        0.01
8                  0.50    10.00  u_s_hihi.0    20.00        0.06
9                  0.30    10.00  u_s_hilo.0    30.00       -0.01
10                 0.30    20.00  u_s_lohi.0    30.00        0.05
11                 0.50    20.00  u_s_lolo.0    10.00        0.01

In [24]:
df_mutacao_correto = pd.read_csv('populacao_grande_mutacao.csv',index_col=0)
df_a_correto = df_mutacao_correto.loc[df_mutacao_correto['makespan'].isin(df_mutacao_correto.groupby('instance')['makespan'].min().values)]
df_a_correto.sort_values('instance',inplace=True, ascending=True)

/home/rocha/Documentos/mestrado/pesquisaMestrado/venv/lib/python3.8/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [25]:
df_a_correto.drop_duplicates(subset=['makespan'])

,jobs,machines,numInd,numGen,makespan,to_matrix_percentage,elitismo,exec_time,instance,mutation,selection_method
23,512,16,100,100,7500012.78,0.30,30.00,57.37,u_c_hihi.0,30.00,roulette wheel
50,512,16,100,100,153688.39,0.50,10.00,75.54,u_c_hilo.0,20.00,roulette wheel
83,512,16,100,100,245183.01,0.50,30.00,66.27,u_c_lohi.0,30.00,roulette wheel
87,512,16,100,100,5165.39,0.50,10.00,80.22,u_c_lolo.0,30.00,roulette wheel
258,512,16,100,100,3022667.47,0.50,20.00,65.96,u_i_hihi.0,20.00,roulette wheel
151,512,16,100,100,73760.61,0.30,20.00,57.47,u_i_hilo.0,30.00,roulette wheel
171,512,16,100,100,104652.44,0.30,10.00,64.90,u_i_lohi.0,30.00,roulette wheel
185,512,16,100,100,2554.38,0.30,20.00,65.68,u_i_lolo.0,10.00,roulette wheel
119,512,16,100,100,4165269.76,0.30,30.00,53.16,u_s_hihi.0,30.00,roulette wheel
103,512,16,100,100,96742.31,0.30,20.00,59.44,u_s_hilo.0,30.00,roulette wheel
222,512,16,100,100,124425.78,0.50,20.00,66.23,u_s_lohi.0,20.00,roulette wheel
235,512,16,100,100,3460.30,0.50,20.00,61.11,u_s_lolo.0,30.00,roulette wheel

In [26]:
df_to_compare = pd.DataFrame(columns=['Algorithm', 'Instance', 'Passamos', 'Quanto falta','Makespan do algoritmo', 'Nosso makespan'])
df_to_compare['Instance'] = ['u_c_hihi.0', 'u_c_hilo.0', 'u_c_lohi.0', 'u_c_lolo.0','u_i_hihi.0','u_i_hilo.0',
    'u_i_lohi.0','u_i_lolo.0','u_s_hihi.0', 'u_s_hilo.0', 'u_s_lohi.0', 'u_s_lolo.0']
df_to_compare['Algorithm'] = 'pCHC - average'
df_to_compare['Nosso makespan'] = list(df_a_correto.drop_duplicates(subset=['makespan'])['makespan'])
df_to_compare['Makespan do algoritmo'] = [7481195,153924,243446.3,5181.6, 2956906,73847.1,102677.3,2557.2,4239146,96750.3,123989.4,3472.2]
df_to_compare.loc[df_to_compare['Makespan do algoritmo'] > df_to_compare['Nosso makespan'], 'Passamos'] = 'True' 
df_to_compare.loc[df_to_compare['Makespan do algoritmo'] < df_to_compare['Nosso makespan'], 'Passamos'] = 'False' 
df_to_compare['Quanto falta'] =  df_to_compare['Nosso makespan'] - df_to_compare['Makespan do algoritmo']

In [27]:
df_to_compare

,Algorithm,Instance,Passamos,Quanto falta,Makespan do algoritmo,Nosso makespan
0,pCHC - average,u_c_hihi.0,False,18817.78,7481195.00,7500012.78
1,pCHC - average,u_c_hilo.0,True,-235.61,153924.00,153688.39
2,pCHC - average,u_c_lohi.0,False,1736.71,243446.30,245183.01
3,pCHC - average,u_c_lolo.0,True,-16.21,5181.60,5165.39
4,pCHC - average,u_i_hihi.0,False,65761.47,2956906.00,3022667.47
5,pCHC - average,u_i_hilo.0,True,-86.49,73847.10,73760.61
6,pCHC - average,u_i_lohi.0,False,1975.14,102677.30,104652.44
7,pCHC - average,u_i_lolo.0,True,-2.82,2557.20,2554.38
8,pCHC - average,u_s_hihi.0,True,-73876.24,4239146.00,4165269.76
9,pCHC - average,u_s_hilo.0,True,-7.99,96750.30,96742.31
10,pCHC - average,u_s_lohi.0,False,436.38,123989.40,124425.78
11,pCHC - average,u_s_lolo.0,True,-11.90,3472.20,3460.30

In [28]:
df_mutacao_correto_vs = pd.read_csv('vs_local_search_and_mutation.csv',index_col=0)
df_a_correto_vs = df_mutacao_correto_vs.loc[df_mutacao_correto_vs['makespan'].isin(df_mutacao_correto_vs.groupby('instance')['makespan'].min().values)]
df_a_correto_vs.sort_values('instance',inplace=True, ascending=True)

/home/rocha/Documentos/mestrado/pesquisaMestrado/venv/lib/python3.8/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [29]:
df_to_compare = pd.DataFrame(columns=['Algorithm', 'Instance', 'Passamos', 'Quanto falta','Makespan do algoritmo', 'Nosso makespan'])
df_to_compare['Instance'] = ['u_c_hihi.0', 'u_c_hilo.0', 'u_c_lohi.0', 'u_c_lolo.0','u_i_hihi.0','u_i_hilo.0',
    'u_i_lohi.0','u_i_lolo.0','u_s_hihi.0', 'u_s_hilo.0', 'u_s_lohi.0', 'u_s_lolo.0']
df_to_compare['Algorithm'] = 'pCHC - average'
df_to_compare['Nosso makespan'] = list(df_a_correto_vs.drop_duplicates(subset=['makespan'])['makespan'])
df_to_compare['Makespan do algoritmo'] = [7481195,153924,243446.3,5181.6, 2956906,73847.1,102677.3,2557.2,4239146,96750.3,123989.4,3472.2]
df_to_compare.loc[df_to_compare['Makespan do algoritmo'] > df_to_compare['Nosso makespan'], 'Passamos'] = 'True' 
df_to_compare.loc[df_to_compare['Makespan do algoritmo'] < df_to_compare['Nosso makespan'], 'Passamos'] = 'False' 
df_to_compare['Quanto falta'] =  df_to_compare['Nosso makespan'] - df_to_compare['Makespan do algoritmo']

In [30]:
df_to_compare

,Algorithm,Instance,Passamos,Quanto falta,Makespan do algoritmo,Nosso makespan
0,pCHC - average,u_c_hihi.0,False,3397.07,7481195.00,7484592.07
1,pCHC - average,u_c_hilo.0,True,-119.33,153924.00,153804.67
2,pCHC - average,u_c_lohi.0,False,943.73,243446.30,244390.03
3,pCHC - average,u_c_lolo.0,False,1.77,5181.60,5183.37
4,pCHC - average,u_i_hihi.0,False,54699.42,2956906.00,3011605.42
5,pCHC - average,u_i_hilo.0,True,-59.86,73847.10,73787.24
6,pCHC - average,u_i_lohi.0,False,1707.40,102677.30,104384.70
7,pCHC - average,u_i_lolo.0,True,-3.06,2557.20,2554.14
8,pCHC - average,u_s_hihi.0,True,-75747.00,4239146.00,4163399.00
9,pCHC - average,u_s_hilo.0,True,-7.22,96750.30,96743.08
10,pCHC - average,u_s_lohi.0,True,-107.00,123989.40,123882.40
11,pCHC - average,u_s_lolo.0,True,-28.89,3472.20,3443.31