In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('results_only_minmin.csv',index_col=0)
df.style.format("{:.2f}")
pd.set_option('display.float_format', lambda x: '%.3f' % x)
df.head()

,jobs,machines,numInd,numGen,makespan,to_matrix_percentage,elitismo,exec_time,instance,selection_method
0,512,16,100,100,8388552.021,0.300,10.000,68.442,u_c_hihi.0,roulette wheel
1,512,16,100,100,8226566.254,0.300,20.000,73.078,u_c_hihi.0,roulette wheel
2,512,16,100,100,8858689.855,0.300,30.000,66.065,u_c_hihi.0,roulette wheel
3,512,16,100,100,8388336.673,0.500,10.000,72.944,u_c_hihi.0,roulette wheel
4,512,16,100,100,8855480.875,0.500,20.000,92.118,u_c_hihi.0,roulette wheel

In [3]:
df.loc[df['instance'] == 'u_c_lolo.0'].min()

jobs                               512
machines                            16
numInd                             100
numGen                             100
makespan                      5339.676
to_matrix_percentage             0.300
elitismo                        10.000
exec_time                       59.662
instance                    u_c_lolo.0
selection_method        roulette wheel
dtype: object

In [4]:
df.loc[df['instance'] == 'u_c_lohi.0'].min()

jobs                               512
machines                            16
numInd                             100
numGen                             100
makespan                    267658.631
to_matrix_percentage             0.300
elitismo                        10.000
exec_time                       61.413
instance                    u_c_lohi.0
selection_method        roulette wheel
dtype: object

In [5]:
df.loc[df['instance'] == 'u_c_hilo.0'].min()

jobs                               512
machines                            16
numInd                             100
numGen                             100
makespan                    158460.582
to_matrix_percentage             0.300
elitismo                        10.000
exec_time                       61.912
instance                    u_c_hilo.0
selection_method        roulette wheel
dtype: object

In [6]:
df.loc[df['instance'] == 'u_c_hihi.0'].min()

jobs                               512
machines                            16
numInd                             100
numGen                             100
makespan                   8117967.821
to_matrix_percentage             0.300
elitismo                        10.000
exec_time                       66.065
instance                    u_c_hihi.0
selection_method        roulette wheel
dtype: object